<% if (data.error) { %>
<div class="error">
  <%= data.error %>
</div>
<% } %>
<div class="title">
  <h3>GOP Delegates</h3>
  <span>
    <%= data.needed.toLocaleString() %> needed 
  </span>
</div>
<div class="key">
  <span>Candidate</span>
  <span>Count</span>
</div>
<ol>
  <% (data.candidates || new Array(3).fill({})).forEach(function(c) { %>
  <li>

    <span class="name">
      <%= c.name %>
    </span>

    <span class="count"><%= c.total.toLocaleString() %></span>
  </li>
  <% }); %>
</ol>
<a class="full-report" href="https://www.npr.org/2024/01/25/1226127965/gop-delegates-trump-haley-republican-nomination-election-2024">Full delegate report &rsaquo;</a>
