<%
	const { groupBy } = require("../src/js/components/utils");
	const matrix = require("calendar-matrix")

	const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] 

	const get_dates_in_range = function(start_date_string, end_date_string) {
	  let date = new Date(start_date_string);
	  let end_date = new Date(end_date_string)
	  let dates = [];
	  while (date <= end_date) {
	    dates.push(new Date(date));
	    date.setDate(date.getDate() + 1);
	  }
	  return dates;
	}

	let events_for_calendar_graphic = Array.from(events)

	events.forEach(event => {
		if (event.date_end && event.date_end.length > 1) {
			let dates_in_range = get_dates_in_range(event.date, event.date_end)
			dates_in_range.shift()
			dates_in_range.forEach(date => {
				let new_event = {
					date: (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear(),
					date_end: '',
					category: event.category,
			    state: event.state,
			    title: event.title,
			    description: event.description,
			    link: event.link,
			    party: event.party
				}
				events_for_calendar_graphic.push(new_event)
			})
		}
	})

	const event_dates = groupBy(events_for_calendar_graphic, "date")

	let calendar_data = {}
	months.forEach(function(month, i) {
		calendar_data[month] = matrix(2024, i)
	})

	let parties_by_date = {}
	Object.keys(event_dates).forEach(date => {
		let this_days_parties = [],
			party_class = ""
		event_dates[date].forEach(event => {
			if (event.party) {
				this_days_parties.push(event.party.split(", "))
			}
		})
		this_days_parties = this_days_parties.flat()
		if (this_days_parties.includes("Dem") && this_days_parties.includes("GOP")) {
			party_class = "both"
		} else if (this_days_parties.includes("Dem")) {
			party_class = "dem"
		} else if (this_days_parties.includes("GOP")) {
			party_class = "gop"
		} else {
			party_class = "neither"
		}
		parties_by_date[date] = party_class
	})
%>

<div class="cg__wrapper">
	<div class="cg__button" id="cg__prev-button"></div>
	<div class="cg__button" id="cg__next-button"></div>
	<div class="cg__viewport">
		<div class="cg__flexbox">
		<% months.forEach(function(month, i) { %>

		<div class="cg__month-container">
			<h3 class="cg__month-hed"><%= month %></h3>
			<div class="cg__month-rectangle">
				<% calendar_data[month].forEach(function(week) { %>
					<% 
					week.forEach(function(day) { 
						let date = i+1 + "/" + day + "/2024"
						if (day < 0) { 
					%>
							<div class="calendar__square cg__square cg__square--not-a-day"></div>
						<% } else if (event_dates[date]) { %>
							<div class="calendar__square cg__square calendar__square--<%= parties_by_date[date] %>"></div>
						<% } else { %>
							<div class="calendar__square cg__square cg__square--regular-day"></div>
						<% } %>
					<% }) %>
				<% }) %>
				<% if (calendar_data[month].length === 5) { %>
					<% [...Array(7).keys()].forEach(function(day) { %>
						<div class="cg__square cg__square--not-a-day"></div>
					<% }) %>
				<% } %>
			</div>
		</div>

		<% }) %>
		</div>
	</div>
</div>

<script src="calendarGraphic.js" async></script>