<%
  var prefix;
  if (typeof prefix == "undefined") {
    prefix = "";
  }

  function removeDuplicates(array) {
    return [...new Set(array)];
  }

  function createString(array) {
    let string = ""
    array.forEach((d, i) => {
      string += d
      if (i < array.length - 2) {
        string += ", "
      } else if (i === array.length - 2) {
        string += " and "
      }
    })
    return string
  }

  const mugs = grunt.data.json.mugs
  const candidates = Object.keys(grunt.data.json.mugs)
  const photoCreditArray = removeDuplicates(candidates.map(c => mugs[c].credit))
  const photoCredits = createString(photoCreditArray)
%>

<footer class="mega-nav" role="contentinfo">
  <div class="constrained">

    <h3 class="more-hed">2024 Election Resources</h3>

    <div class="more-2024 link-block">
      <ul>
        <li><a href="https://www.npr.org/live-updates/super-tuesday-2024-states-results">Live coverage: Super Tuesday</a></li>
        <li><a href="https://www.npr.org/sections/elections/">Latest election news</a></li>
        <li><a href="https://apps.npr.org/primary-election-results-2024/">2024 election calendar</a></li>
        <li><a href="https://www.npr.org/2024/01/25/1226127965/gop-delegates-trump-haley-republican-nomination-election-2024">Republican delegate tracker</a></li>
        <li><a href="https://www.npr.org/series/election-2024-issue-tracker">Candidates' issue positions</a></li>
        <li><a href="https://www.npr.org/2023/07/20/1185762259/trump-criminal-civil-cases-lawsuits">Trump's trials</a></li>
        <li><a href="https://www.npr.org/podcasts/510310/npr-politics-podcast">NPR Politics Podcast</a></li>
        <li><a href="https://www.npr.org/newsletter/politics">Politics newsletter</a></li>
      </ul>
    </div>

    <h3 class="state-hed">2024 Primary Election Results</h3>


    <div class="state-nav link-block">
      <% var states = grunt.data.elex.states.map(postal => ({ postal, name: grunt.data.json.strings[postal] })).sort((a, b) => a.name < b.name ? -1 : 1); %>

    	<% states.forEach(function(s) { %>
    		<div>
    			<a href="<%= prefix %><%= s.postal %>.html">
    				<%= s.name %>
    			</a>
    		</div>
    	<% }); %>
    </div>

</footer>

<footer class="more" role="contentinfo">
  <div class="constrained">
    <div class="credits">
      <h3>Credits</h3>
      <p><%= grunt.data.json.strings["credits"] %></p>
      <% if (showPhotoCredits) { %>
        <p>Photos by <%= photoCredits %></p>
      <% } %>
      <p> Sources: Electoral results from the AP. Population data are 2017-2022 ACS 5-year estimates. Candidates receiving less than 1% support not shown individually. The percentage of results in is <a href="https://www.ap.org/about/our-role-in-elections/counting-the-vote">an estimate from the AP</a>.</p>
    </div>

    <div class="npr">
      <ul>
        <li><a href="https://www.npr.org/about-npr/179876898/terms-of-use" target="_blank">Terms of Use</a></li>
        <li><a href="https://www.npr.org/about-npr/179878450/privacy-policy" target="_blank">Privacy</a></li>
        <li><a href="https://www.npr.org/about-npr/179878450/privacy-policy#yourchoices" target="_blank">Your Privacy Choices</a></li>
        <li><a href="https://text.npr.org/" target="_blank">Text Only</a></li>
        <li>&copy; 2024 NPR</li>
      </ul>
    </div>
  </div>
</footer>
