<%
  var prefix;
  if (typeof prefix == "undefined") {
    prefix = "";
  }
%>
<nav class="elections">
  <div class="row">
    <ul class="primary">
      <li class="npr"><a href="https://npr.org"><img src="<%= prefix %>assets/logo.svg" alt="NPR" /></a></li>
      <li class="election"><a href="https://www.npr.org/sections/elections/"><img src="<%= prefix %>assets/synced/elections-2024-logo-color-horizontal.svg" alt="2024 Election" /></a></li>
      <!-- <li><a href="https://www.npr.org/live-updates/iowa-caucus-results">Live coverage</a></li> -->
      <li><a href="https://apps.npr.org/primary-election-results-2024">Key dates & results</a></li>
      <li><a href="https://www.npr.org/series/election-2024-issue-tracker">Issues</a></li>
      <li><a href="https://www.npr.org/newsletter/politics">Newsletter</a></li>
      <!-- <li><a href="https://www.npr.org/2023/09/02/1197336629/donald-trump-criminal-civil-trials-primary-calendar">Trump's trials</a></li> -->
    </ul>

    <ul class="secondary">
      <li class="donate"><a href="https://www.npr.org/donations/support">Donate</a></li>
    </ul>
  </div>

  <hr>
</nav>
