main.calendar {
  @dateWidth: 3.5em;
  .lato();
  max-width: 900px;
  margin: auto;
  padding: 44px 15px;

  h1 {
    font-size: 1.6em;
    font-weight: bold;
    color: var(--foreground);
    margin: 0 0 1em 0;
    line-height: 1.2;

    @media @mobile-above {
      font-size: 2.3em;
    }
  }

  .month {
    margin-top: 1.5em;
  }

  h2 {
    margin: 0 0 .5em 0;
    border-bottom: 1px solid #303030;
  }

  a, a:link, a:visited {
    color: var(--link);
    text-decoration: none;
  }

  a:hover, a:active, a:focus {
    opacity: 0.7;
  }

  .event-row + h2 {
    margin-top: 33px;
  }

  .event-row {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .date {
      font-size: 0.9em;
      opacity: 0;
      white-space: nowrap;
      margin-bottom: 6px;
      padding-top: 2px;

      @media @mobile {
        float: left;
      }

      @media @mobile-above {
        flex: 0 0 @dateWidth;
      }
    }

    &.index-0 .date {
      opacity: 1;
    }
  }

  .category {

    .pill {
      text-align: center;
      background: var(--accent);
      display: inline-block;
      margin: 0 5px 5px 0;
      height: 20px;
      width: 20px;
    }

    &.vote .pill { background: #4D787A; }
    &.event .pill { background: #92701B; }
    &.debate .pill { background: #923546; }
  }


  .title {
    font-size: 1.1em;
    margin-bottom: 1px;
  }
  .desc {
    margin-bottom: 0.5em;
  }
  .links {
    margin-left: auto;
    color: var(--secondary);

    a:not([href]) {
      color: var(--secondary);
      cursor: arrow;

      &:hover { opacity: 1; }
    }
  }


  #past-months {
    display: none;
    margin-top: 55px;

    & > h2 {
      font-size: 1.6em;
      padding-bottom: 20px;
    }

    &.show {
      display: block;
    }
  }

  .jump-to-past {
    display: none;

    &.show {
      display: block;
    }
  }
}
