@date_width: 120px;
@calendar_square_width: 20px;
@cl_square_margin: 5px;

@breakpoint: 850px;

#scroll-to-top {
  background-color: white;
  border: none;
  border-right: none;
  border-radius: 30px 0 0 30px;
  bottom: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: bold;
  height: 60px;
  padding: 5px 35px;
  position: fixed;
  right: -200px;
  transition: right 250ms;
  z-index: 1000;
  &:hover {
    box-shadow: 0px 0px 4px 0px #000;
  }
}

.calendar__hed {
  font-size: 2.3em;
  font-weight: bold;
  color: var(--foreground);
  margin: 0 0 1em 0;
  line-height: 1.2;

  @media (min-width: @breakpoint) {
    font-size: 2.3em;
  }
}

.calendar__square {
  display: inline-block;
  height: @calendar_square_width;  
  position: relative;
  width: @calendar_square_width;
  .cl-month & {
    top: 1px;
  }
}

.legend-item {
  white-space: nowrap;
  &:not(:last-child) {
    margin-right: 10px;
  }
  .calendar__square {
    top: 5px;
  }
}

.calendar__square--demgop {
  width: @calendar_square_width / 2;
  height: @calendar_square_width / 2;
  border-top: (@calendar_square_width / 2) solid @red;
  border-right: (@calendar_square_width / 2) solid @red;
  border-bottom: (@calendar_square_width / 2) solid @blue;
  border-left: (@calendar_square_width / 2) solid @blue;
}

.calendar__square--tricolor {
  width: @calendar_square_width / 2;
  height: @calendar_square_width / 2;
  border-top: (@calendar_square_width / 2) solid @red;
  border-right: (@calendar_square_width / 2) solid @yellow;
  border-bottom: (@calendar_square_width / 2) solid @yellow;
  border-left: (@calendar_square_width / 2) solid @blue;
}

.calendar__square--demstate {
  width: @calendar_square_width / 2;
  height: @calendar_square_width / 2;
  border-top: (@calendar_square_width / 2) solid @blue;
  border-right: (@calendar_square_width / 2) solid @yellow;
  border-bottom: (@calendar_square_width / 2) solid @yellow;
  border-left: (@calendar_square_width / 2) solid @blue;
}

.calendar__square--gopstate {
  width: @calendar_square_width / 2;
  height: @calendar_square_width / 2;
  border-top: (@calendar_square_width / 2) solid @red;
  border-right: (@calendar_square_width / 2) solid @yellow;
  border-bottom: (@calendar_square_width / 2) solid @yellow;
  border-left: (@calendar_square_width / 2) solid @red;
}

.calendar__square--gop {
  background: @red;
}

.calendar__square--dem {
  background: @blue;
}

.calendar__square--yellow {
  background: @yellow;
}

.calendar__square--gray {
  background: #666;
}

.cl__date-border {
  @media (max-width: @breakpoint - 1) {
    border-top: 1px solid #ccc;
    height: 0px;
    margin-top: 22px;
    margin-bottom: 16px;
    position: relative;
    display: none;
    .index-0 &:not(.hidden) {
      display: block;
    }
  }
}

.cl__date {
  font-size: 14px;
  opacity: 0;
  top: -10px;
  white-space: nowrap;
  @media (max-width: @breakpoint - 1) {
    background: #fff;
    position: absolute;
    padding-right: 5px;
  }
  @media (min-width: @breakpoint) {
    width: @date_width;
  }
  .index-0 & {
    opacity: 1;
    &.hidden {
      opacity: 0;
    }
  }
}

.cl__date--mobile-only {
  @media (min-width: @breakpoint) {
    visibility: hidden;
  }
}

.cl__square {
  flex-shrink: 0;
  margin-right: @cl_square_margin;
}

.cl__day-label {
  line-height: 1;
  @media (max-width: @breakpoint - 1) {
    margin: 18px 6px 6px 0;
  }
  @media (min-width: @breakpoint) {
    margin: 10px 6px 2px 0;
  }
}

.cl__month {
  margin-top: 1.5em;
}

.cl__event-row {
  margin: 6px 0;
  @media (min-width: @breakpoint) {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &:not(.cl__label-row):hover {
      background: #efefef;
    }

  }
}

.cl__non-label-row {
  justify-content: space-between;
}

.cl__event-row__left-side {
  @media (min-width: @breakpoint) {
    display: flex;
  }
}

.cl__event-row__mobile-row {
  display: flex;
}

.cl__title {
  font-size: 16px;
  margin: 0;
}

.cl__desc {
  font-size: 14px;
  margin: 0;
  @media (max-width: @breakpoint - 1) {
    margin-left: @calendar_square_width + @cl_square_margin;
  }
  @media (min-width: @breakpoint) {
    padding-left: @date_width + @calendar_square_width + @cl_square_margin;
    order: 2;
    width: 100%;
  }
  &.shown {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.cl__links {
  color: var(--secondary);
  font-size: 14px;
  margin-left: @calendar_square_width + @cl_square_margin;
  a[href]:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
  a:not([href]) {
    color: var(--secondary);
    cursor: arrow;
  }
  @media (max-width: @breakpoint - 1) {
    margin-bottom: 14px;
  }
}

.cl__coverage-link {
  .future & {
    display: none;
  }
  .cl__label-row & {
    @media (min-width: @breakpoint) {
      margin-top: 7px;
    }
  }
}

.cl__results-label {
  .future & {
    display: none;
  }
}

#jump-to-past {
  background: none;
  border: none;
  color: var(--link);
  cursor: pointer;
  border-radius: 4px;
  display: none;
  float: right;
  font-size: 14px;
  margin-top: -3px;
  padding: 4px 0 4px 10px;
  &:hover {
    text-decoration: underline;
  }
  &.show {
    display: block;
  }
}

#past-months {
  display: none;
  margin-top: 55px;

  & > h2 {
    font-size: 1.9em;
  }

  &.show {
    display: block;
  }
}

main.calendar {
  .sans();
  max-width: 980px;
  margin: auto;
  padding-top: 44px;
  padding-bottom: 44px;

  h2 {
    margin: 0 0 .5em 0;
    border-bottom: 1px solid #303030;
  }

  a, a:link, a:visited {
    color: var(--link);
    text-decoration: none;
  }

  @media (max-width: 1010px) {
    max-width: 1010px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
