@date_width: 120px;
@calendar_square_width: 20px;
@cl_square_margin: 5px;

.calendar__hed {
  font-size: 2.3em;
  font-weight: bold;
  color: var(--foreground);
  margin: 0 0 1em 0;
  line-height: 1.2;

  @media @mobile-above {
    font-size: 2.3em;
  }
}

.calendar__legend {
  font-size: 16px;
  line-height: 1;
  hr {
    border: 0.5px dotted #333;
  }
}

.calendar__legend-text {
  margin-right: 6px;
}

.calendar__square {
  height: @calendar_square_width;  
  position: relative;
  top: 1px;
  width: @calendar_square_width;
  .calendar__legend & {
    display: inline-block;
    margin-right: 3px;
    top: 4px;
  }
}

.calendar__square--both {
  background: @blue;
  overflow: hidden;
  position: relative;
}

.calendar__square--both::before {
  background: @red;
  bottom: 100%;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: 100% 100%;
  transform: rotate(-45deg);
  width: 150%;
}

.calendar__square--gop {
  background: @red;
}

.calendar__square--dem {
  background: @blue;
}

.calendar__square--yellow {
  background: @yellow;
}

.calendar__square--gray {
  background: #666;
}

.calendar__legend-item {
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  &.dem {
    background-color: @blue;
  }
  &.gop {
    background-color: @red;
  }
}

.cl__date-border {
  @media (@mobile) {
    border-top: 1px solid #ccc;
    height: 0px;
    margin-top: 22px;
    margin-bottom: 16px;
    position: relative;
    display: none;
    .index-0 &:not(.hidden) {
      display: block;
    }
  }
}

.cl__date {
  font-size: 14px;
  opacity: 0;
  top: -10px;
  white-space: nowrap;
  @media (@mobile) {
    background: #fff;
    position: absolute;
    padding-right: 5px;
  }
  @media (@mobile-above) {
    width: @date_width;
  }
  .index-0 & {
    opacity: 1;
    &.hidden {
      opacity: 0;
    }
  }
}

.cl__date--mobile-only {
  @media (@mobile-above) {
    visibility: hidden;
  }
}

.cl__square {
  flex-shrink: 0;
  margin-right: @cl_square_margin;
}

.cl__day-label {
  line-height: 1;
  @media (@mobile) {
    margin: 18px 6px 6px 0;
  }
  @media (@mobile-above) {
    margin: 10px 6px 2px 0;
  }
}

.cl__month {
  margin-top: 1.5em;
}

.cl__event-row {
  margin: 6px 0;
  @media (@mobile-above) {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &:not(.cl__label-row):hover {
      background: #efefef;
    }

  }
}

.cl__non-label-row {
  justify-content: space-between;
}

.cl__event-row__left-side {
  @media (@mobile-above) {
    display: flex;
  }
}

.cl__event-row__mobile-row {
  display: flex;
}

.cl__title {
  font-size: 16px;
  margin: 0;
}

.cl__desc {
  font-size: 14px;
  margin: 0;
  @media (@mobile) {
    margin-left: @calendar_square_width + @cl_square_margin;
  }
  @media (@mobile-above) {
    padding-left: @date_width + @calendar_square_width + @cl_square_margin;
    order: 2;
    width: 100%;
  }
  &.shown {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.cl__links {
  color: var(--secondary);
  font-size: 14px;
  margin-left: @calendar_square_width + @cl_square_margin;
  a:not([href]) {
    color: var(--secondary);
    cursor: arrow;

    &:hover { opacity: 1; }
  }
  @media (@mobile) {
    margin-bottom: 14px;
  }
}

.cl__coverage-link {
  .future & {
    display: none;
  }
  .cl__label-row & {
    @media (@mobile-above) {
      margin-top: 7px;
    }
  }
}

.cl__results-label {
  .future & {
    display: none;
  }
}

.jump-to-past {
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 4px;
  margin-top: -3px;
  float: right;
  display: none;
  &.show {
    display: block;
  }
}

#past-months {
  display: none;
  margin-top: 55px;

  & > h2 {
    font-size: 1.9em;
  }

  &.show {
    display: block;
  }
}

main.calendar {
  .sans();
  max-width: 980px;
  margin: auto;
  padding-top: 44px;
  padding-bottom: 44px;

  h2 {
    margin: 0 0 .5em 0;
    border-bottom: 1px solid #303030;
  }

  a, a:link, a:visited {
    color: var(--link);
    text-decoration: none;
  }

  @media (max-width: 1010px) {
    max-width: 1010px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
