@import "../../../css/values.less";

standard-primary {
  display: block;
  
  .footnote {
    font-family: @sans;
    font-size: 0.85em;
    font-style: italic;
    color: var(--secondary);
    margin-top: 5px;
  }

  .results {
    display: flex;
    column-gap: 20px;
    justify-content: center;

    @media @mobile {
      display: block;

      .race + .race {
        margin-top: 20px;
      }
    }
  }

  .race {
    flex-grow: 2;
    flex-basis: calc(50% - 10px);
    max-width: 650px;
  }
}
