<%
  const daysOfWeek = ["Sun.", "Mon.", "Tue.", "Wed.", "Thu.", "Fri.", "Sat."]
  const { formatAPDate, parseNPRDate, formatTime, groupBy, inDays } = require("../src/js/components/utils");

  var classify = function(str) {
    return str
      .toLowerCase()
      .replace(/\s+/g, "-")
      .replace(/\-\-+/g, "-")
      .replace(/^-+|[^\w\-]|-+$/g, "");
  };

  const get_party_class = function(party_string) {
    if (party_string === "Dem, GOP" || party_string === "GOP, Dem") {
      return "both"
    } else if (party_string === "Dem") {
      return "dem"
    } else if (party_string === "GOP") {
      return "gop"
    } else {
      return "neither"
    }
  }

  var { seo } = grunt.data.json;
  var metadata = {
    project: Object.assign({}, grunt.data.json.project, {
      title: seo.calendarTitle,
      description: seo.calendarDescription
    })
  };

  var getDescriptors = function(item) {
    var key = "";
    if (item.general) key += "G";
    if (item.runoff) key += "R";
    if (item.special) key += "S";
    return strings["race-" + key];
  }
%>

<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", metadata) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <script>
      window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>
    <script>
      document.body.classList.add(new URL(window.location).searchParams.get("theme"));
    </script>
    <%= t.include("partials/_nav.html") %>

    <div id="ad-centerstage-wrap" class="has-sponsorship"><ps-google-dfp-ad id="ad-centerstage-inner"><div class="GoogleDfpAd" id="centerstage-ad" data-slot-sizes="[[728, 90], [300, 250]]" data-is-fluid="true"  data-slot-Name="6735/n6735.NPR/news_politics_elections" data-slot-adSizeMap="[[[300,250], [300,250]], [[300,250], [300,250]]]"><span class="GoogleDfpAd-placeholder"></span></div></ps-google-dfp-ad></div>

    <main class="calendar">

      <div class="main">
        <h1 class="calendar__hed">2024 Election Calendar</h1>

        <a class="jump-to-past" href="#past-months">See past months &darr;</a>

        <%
          var { races, nonraces, strings } = grunt.data.json;
          // make a copy
          races = races.filter(r => !r.feedOnly && r.office != "R");
          // normalize events
          var monthNames = " January February March April May June July August September October November December".split(" ");
          var events = [];
          nonraces.forEach(function(n) {
            var [m, d, y] = n.date.split("/");
            const numerical_day_of_week = parseNPRDate(n.date).getDay()
            n.month = m;
            n.day = d;
            n.days = inDays(n.date);
            n.day_of_week = daysOfWeek[numerical_day_of_week];

            if (n.date_end) {
              var [mEnd, dEnd, yEnd] = n.date_end.split("/");
              n.monthEnd = mEnd;
              n.dayEnd = dEnd;
            }

            // add to the events
            events.push(n);
            // find matching races
            if (n.state) {
              n.races = [];
              races = races.filter(function(r) {
                if (r.state == n.state && (r.displayDate || r.date) == n.date) {
                  n.races.push(r);
                  return false;
                }
                return true;
              });
            }
          });
          // now add orphan races
          while (races.length) {
            var r = races.shift();
            var date = r.displayDate || r.date;
            var [m, d, y] = date.split("/").map(Number);
            // create dummy event
            var event = {
              date,
              month: m,
              day: d,
              days: r.days,
              category: "Vote",
              title: strings[r.state] + " primaries",
              races: [r],
              implicit: true
            };
            events.push(event);
            // add matching races to the event
            races = races.filter(function(race) {
              if (race.state == r.state && (race.displayDate || race.date) == date) {
                event.races.push(race);
                return false;
              }
              return true;
            });

            if (event.races.every(r => r.caucus)) {
              event.title = strings[r.state] + " caucuses";
            }
          }
        %>

        <%= t.include("partials/_calendarGraphic.html", {events: events}) %>

        <%
          var byMonth = groupBy(events, "month");
          Object.keys(byMonth).sort((a, b) => a - b).forEach(function(m) {
        %>

        <section class="cl__month" data-month="<%= m %>">

          <h2><%= monthNames[m] %></h2>
          <%
            var byDay = groupBy(byMonth[m], "day");
            Object.keys(byDay).sort((a, b) => a - b).forEach(function(d) {
              var day = byDay[d];
              day.sort(function(a, b) {
                if (b.category === "Label") {
                  return 1
                } else {
                  var aIndex = a.link ? 0 : 1;
                  var bIndex = b.link ? 0 : 1;
                  if (aIndex == bIndex) {
                    return a.title < b.title ? -1 : 1;
                  }
                  return aIndex - bIndex;
                  }
              })
              day.forEach(function(event, i) {
                if (event.category === "Label") {
          %>
          <div class="cl__event-row cl__label-row index-<%= i%>" data-days="<%= event.days %>">
            <div class="cl__date-border">
              <div class="cl__date cl__date--mobile-only">
                <%= event.day_of_week%> <%= event.day %><% if (event.dayEnd) { %>-<%= event.dayEnd %><% } %>
              </div>
            </div>
            <% if (event.title) { %>
              <h4 class="cl__day-label"><%= event.title %></h4>
            <% } %>
            <% if (event.link) { %>
              <% if (event.link_text) { %>
                <a class="cl__coverage-link" href="<%= event.link %>"><%= event.link_text %></a>
              <% } else { %>
                <a class="cl__coverage-link" href="<%= event.link %>">Read NPR coverage</a>
              <% } %>
            <% } %>
          </div>
          <%
                } else {
          %>
          <div class="cl__event-row cl__non-label-row index-<%= day.some(e => e.category === 'Label') ? i - 1 : i %>" data-days="<%= event.days %>">
            <div class="cl__event-row__left-side">
              <div class="cl__date-border <%= day.some(e => e.category === 'Label') ? 'hidden' : '' %>">
                <div class="cl__date">
                  <%= event.day_of_week%> <%= event.day %><% if (event.dayEnd) { %>-<%= event.dayEnd %><% } %>
                </div>
              </div>
              <div class="cl__event-row__mobile-row">
                <div class="calendar__square cl__square calendar__square--<%= get_party_class(event.party) %>">
                </div>
                <p class="cl__title"><%= event.title %></p>
              </div>
            </div>
            <p class="cl__desc <%= event.description ? 'shown' : 'hidden' %>"><%= event.description %></p>
            <div class="cl__links">
              <% if (event.link) { %>
              <a class="cl__coverage-link" href="<%= event.link %>">Read NPR coverage</a>
              <% } %>
              <% if (event.link && event.races) { %>
              <span class="cl__results-label">
              |
              </span>
              <% }%>
              <% if (event.races && event.races.length) { %>
              <span class="cl__results-label">Results:</span>
                <%= event.races.map(r => `
                  <a href="states/${r.state}.html#date=${r.date}&office=${r.office}${r.special ? "&special=true" : ""}" data-days="${r.days}">
                  ${strings[r.office]}${r.special || r.general || r.runoff ? " - " + getDescriptors(r) : ""}</a>`).join(", ") %>
              <% } %>
            </div>
          </div>
          <%
                  }
                }); // event
              }); // day
          %>
          </section>
          <%
          }); // month
        %>
        <div id="past-months">
          <h2 class="section-header">Past events</h2>
        </div>
      </div> <!-- the content div -->
    </main>

    <div id="ad-secondary-wrap" class="has-sponsorship"><ps-google-dfp-ad id="secondary-ad-inner"><div id="secondary-ad" class="GoogleDfpAd" data-slot-sizes="[[728, 90], [300, 250]]" data-is-fluid="true"  data-slot-Name="6735/NPRSecondary/news_politics_elections" data-slot-adSizeMap="[[[300,250], [300,250]], [[300,250], [300,250]]]"><span class="GoogleDfpAd-placeholder"></span></div></ps-google-dfp-ad></div>

    <%= t.include("partials/_footer.html", { prefix: "states/" }) %>
    <script>
    window.PROJECT_ANALYTICS = <%= JSON.stringify(json.project.analytics || {}) %>;
    </script>
    <script src="calendar.js" async defer></script>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_sponsorship.html", { "production": json.project.production }) %>
    <script src="loadHeaderBidding.js" async></script>
  </body>
</html>
